<p>
  <mat-toolbar>
    <span> Utilisation API SIRET</span>
  </mat-toolbar>
</p>
<div style="margin:5%">

  <mat-form-field appearance="fill">
    <mat-label>no SIRET</mat-label>
  <input matInput [(ngModel)]='code' value="code">
</mat-form-field>
<button mat-raised-button color="primary"(click)="setTest()">rechercher siret</button>


<div >

  <br>
  <br>
  <mat-card class="example-card" style="max-width: 400px;">
    <mat-card-header>
      <mat-card-title>établissement : {{denomination}}</mat-card-title>
      <mat-card-subtitle>catégorie : {{categorie}} </mat-card-subtitle>
      <mat-card-content>

        <p>
          date de création :  {{dateCreation}}
          <br>
          Adresse : {{numeroVoie}}  {{typeVoie}}  {{libellevoie}}
          <br>
          code postal : {{codePostal}}
          <br>
          commune : {{commune}}
        <br>
        siren : {{siren}}
        <br>
        siret : {{siret}}
      </p>
    </mat-card-content>
  </mat-card-header>
</mat-card>


<br>
</div>
</div>

